body{
    background-color: #7E8EF1;
}
.main{
    display: flex;
}
h1{
    text-align: center;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    width: 100%;
}
.setA{
    margin-right: auto;
    width: 25%;
    margin-right: 5px;
}
.setB{
    margin-right: auto;
    width: 25%;
    margin-right: 5px;    
}
.setC{
    margin-right: auto;
    width: 25%;
    margin-right: 5px;
}

.setD{
    margin-right: auto;
    width: 25%;
}